.scanex-forestry-admin-permissions .footer > * {
    float: left;
}
.scanex-forestry-admin-permissions .content {
    height: calc(100vh - 60px);
}
.scanex-forestry-admin-permissions .footer .save {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}